html,
body {
    height: 100%;
    width: 100%
}

body {
    /* font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif */
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 190%;
}

hr {
    border-color: #a3b218;
    border-width: 3px;
    max-width: 50px
}

hr.dark {
    border-color: #24282d
}

hr.light {
    border-color: white
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: orange
}

a:hover,
a:focus {
    color: #eb3812
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px
}

.bg-primary {
    background-color: #085263
}

.bg-secondary {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #24282d;
    color: white
}

.bg-light {
    background-color: #496e9b;
    color: white
}

.bg-gray {
    background-color: gray;
    color: white
}

.text-faded {
    color: rgba(255, 255, 255, 0.7)
}

section {
    padding: 50px 0
}

aside {
    padding: 50px 0
}

.no-padding {
    padding: 0
}

.navbar-default {
    background-color: #24282d;
    border-color: rgba(34, 34, 34, 0.5);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s
}

.navbar-default .navbar-header .navbar-brand {
    color: orange;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px
}

header {
    height: calc(100vh - 115px);
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    /**/
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-image: url("GC_multiwavelength.png");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    opacity: 0.9;
}

header .image {
    opacity: 0.9;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

header .image .img-responsive {
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0;
    text-shadow: 3px 3px #000000;
    font-size: 65px;
    /*background-color: ;*/
}

header .header-content .header-content-inner h2 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 3px 3px #000000;
    font-size: 65px;
    /*background-color: ;*/
}

/*#04AA6D #572c35 #e6dae8 #4e3048*/
header .header-content .header-content-inner hr {
    margin: 30px auto
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
    background-color: #572c35;
}

@media (min-width: 992px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    header .header-content .header-content-inner {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width: 850px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    header .header-content .header-content-inner {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 65px;
        /*background-color: ;*/
    }

    header .header-content .header-content-inner h2 {
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 56px;
        /*background-color: ;*/
    }
}

@media (max-width: 768px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 0px
    }

    header .header-content .header-content-inner {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 50px;
        /*background-color: ;*/
    }

    header .header-content .header-content-inner h2 {
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 42px;
        /*background-color: ;*/
    }
}

@media (min-width: 1200px) {

    .navbar-collapse:after,
    .navbar-collapse:before {
        content: none;
    }
}