html,
body {
    height: 100%;
    width: 100%
}

body {
    /* font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif */
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 190%;
}

hr {
    border-color: #a3b218;
    border-width: 3px;
    max-width: 50px
}

hr.dark {
    border-color: #24282d
}

hr.light {
    border-color: white
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: orange
}

a:hover,
a:focus {
    color: #eb3812
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px
}

.bg-primary {
    background-color: #085263
}

.bg-secondary {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #24282d;
    color: white
}

.bg-light {
    background-color: #496e9b;
    color: white
}

.bg-gray {
    background-color: gray;
    color: white
}

.text-faded {
    color: rgba(255, 255, 255, 0.7)
}

section {
    padding: 100px 0
}

aside {
    padding: 50px 0
}

.no-padding {
    padding: 0
}

.navbar-default {
    background-color: #24282d;
    border-color: rgba(34, 34, 34, 0.5);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s
}

.navbar-default .navbar-header .navbar-brand {
    color: orange;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase
}



header {
    height: calc(100vh - 115px);
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    /**/
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-image: url("https://cdn.mos.cms.futurecdn.net/rG58Q4s8yzHDNAvTUkkUB9.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    opacity: 0.9;
}

header .image {
    opacity: 0.9;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

header .image .img-responsive {
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0;
    text-shadow: 3px 3px #000000;
    font-size: 65px;
    /*background-color: ;*/
}

header .header-content .header-content-inner h2 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 3px 3px #000000;
    font-size: 65px;
    /*background-color: ;*/
}

/*#04AA6D #572c35 #e6dae8 #4e3048*/
header .header-content .header-content-inner hr {
    margin: 30px auto
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
    background-color: #572c35;
}

@media (min-width: 992px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    header .header-content .header-content-inner {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width: 850px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    header .header-content .header-content-inner {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 65px;
        /*background-color: ;*/
    }

    header .header-content .header-content-inner h2 {
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 56px;
        /*background-color: ;*/
    }
}

@media (max-width: 768px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 0px
    }

    header .header-content .header-content-inner {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 50px;
        /*background-color: ;*/
    }

    header .header-content .header-content-inner h2 {
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0;
        text-shadow: 3px 3px #000000;
        font-size: 42px;
        /*background-color: ;*/
    }
}


.section-heading {
    margin-top: 0
}

.section-person {
    margin-top: 0;
    font-size: 50px
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0
    }
}

.service-box p {
    margin-bottom: 0
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(240, 95, 64, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px
    }
}

.call-to-action h2 {
    margin: 0 auto 20px
}

.text-primary {
    color: #F05F40
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0
}

.btn-default {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle .btn-default {
    color: #222;
    background-color: #f2f2f2;
    border-color: #ededed
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle .btn-default {
    background-image: none
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #fff
}

.btn-default .badge {
    color: #fff;
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #F05F40;
    border-color: #F05F40;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle .btn-primary {
    color: #fff;
    background-color: #ee4b28;
    border-color: #ed431f
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle .btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #F05F40;
    border-color: #F05F40
}

.btn-primary .badge {
    color: #F05F40;
    background-color: #fff
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase
}

.btn-xl {
    padding: 15px 30px
}

#contact .fa {
    color: #222;
    font-size: 4em
}

::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222
}

::selection {
    color: white;
    text-shadow: none;
    background: #222
}

img::selection {
    color: white;
    background: transparent
}

img::-moz-selection {
    color: white;
    background: transparent
}

body {
    -webkit-tap-highlight-color: #222
}


/* TOMAS */

#principalinvestigator {
    scroll-margin-top: 80px;
}

#postdoctoralassociates {
    scroll-margin-top: 80px;
}

#staff {
    scroll-margin-top: 80px;
}

#phdstudents {
    scroll-margin-top: 80px;
}

#staff {
    scroll-margin-top: 80px;
}

#mastersandundergraduatestudents {
    scroll-margin-top: 80px;
}

#visitingscholars {
    scroll-margin-top: 80px;
}

#alumni {
    scroll-margin-top: 80px;
}

.personal_image {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.25s;
}

figure.image_frame .personal_image:hover {
    box-shadow: 0px 0px 6px 6px #a1a1a1;
}

figure.personal_image:hover {
    box-shadow: 0px 0px 6px 6px #a1a1a1;
}

figure.image_frame a {
    transform: 0.25s;
}

figure.image_frame a:hover {
    text-shadow: 1px 1px 3px #a1a1a1;
    text-decoration: none;
}

div.col-md-3 a:hover {
    text-decoration: none;
}

p {
    font-size: 100%;
}

section.bg-secondary a:hover {
    text-decoration: none;
}

section.bg-secondary {
    text-align: justify;
}

section.bg-secondary li {
    padding-bottom: 20px;
}

.info {
    width: 100px;
}

.sidebar_item {
    font-size: 84%;
    color: rgb(155, 155, 155);
    line-height: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

    transform: 0.25s ease;
}

.sidebar_item:hover {
    color: black;
    text-decoration: none;
}

.sidebar_item:active {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.names {
    font-size: 120%;
    font-weight: bold;
}

.BLAM {
    font-size: 86%;
    font-weight: bold;
}

.podcasts {
    margin-bottom: 10vh;
    width: 90vw;
    height: calc(90vw / 1.775);
    max-width: 710px;
    max-height: 400px;
}

.outreach_title {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 1vh;
}

/* .navbar-header:before{
  display: block !important;
  content: inherit !important;
}
.navbar-header:after{
  clear: inherit !important;
} */

@media (min-width: 768px) {

    .navbar-collapse:after,
    .navbar-collapse:before {
        content: none;
    }
}